body {
  font-family: "Open Sans", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.about-us {
  background-color: #E5E5E5;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 768px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.about-us-list {
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .about-us-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-us-list {
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    margin-right: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .about-us-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-item:not(:last-child) {
    margin-right: 30px;
  }
}

.aboutus-info {
  position: relative;
}

@media screen and (min-width: 768px) {
  .aboutus-info {
    width: 50%;
  }
}

.section-description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  padding-left: 90px;
}

.section-description::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 6px;
  height: 1px;
  width: 60px;
  display: inline-block;
  background-color: #303030;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 42px;
    line-height: 1.16;
  }
}

.description-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .description-text {
    font-weight: 700;
  }
}

@media screen and (min-width: 1200px) {
  .description-text {
    font-size: 18px;
    line-height: 1.66;
  }
}

.description-subtext {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .description-subtext {
    margin-top: 40px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1200px) {
  .description-subtext {
    margin-top: 20px;
  }
}

.button {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #303030;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
  padding-right: 20px;
  width: 160px;
  height: 40px;
  border: 1px solid #FF6C00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  margin-top: 40px;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
/*# sourceMappingURL=main.css.map */